{% extends "base.html"%}
{% load static %}

{% block content %}

      
        <main>
            <!-- Breadcrumb start -->
            <div class="breadcrumb-section pt-190 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50"
                style="background-image: url({% static 'assets/img/about/bkswp.png' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title-content text-lg-start text-center">
                                <h2 class="title">FAQ’s</h2>
                                <div class="breadcrumb-menu">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="#">Pages</a></li>
                                        <li><a href="faq.html">FAQ’s</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb end -->

            <!-- Categories start -->
            <div class="categories-section pt-150 pt-lg-120 pt-md-80 pt-xs-50">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-xl-12">
                            <div class="section-title text-center mb-50">
                                <div class="sub-title mb-10" data-aos="fade-up" data-aos-delay="150">
                                    <p>Top Categories</p>
                                </div>
                                <div class="title" data-aos="fade-up" data-aos-delay="200">
                                    <h2>Explore Our Courses</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center">
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="150">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/bag.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Account & Business</h4>
                                    <p>263+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/document.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Certificat Course</h4>
                                    <p>350+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="250">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/camera.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Photography</h4>
                                    <p>250+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/volume-up.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Audio Book</h4>
                                    <p>260+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="350">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/category.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Management</h4>
                                    <p>300+ Course Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categories end -->

            <!-- FAQ start -->
            <div class="faq-section pt-150 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-title text-center mb-50">
                                <div class="sub-title mb-10" data-aos="fade-up" data-aos-delay="150">
                                    <p>Frequently Ask Question</p>
                                </div>
                                <div class="title" data-aos="fade-up" data-aos-delay="200">
                                    <h2>Have Your Any Question?</h2>
                                </div>
                            </div>
                            <div class="faq-content-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="faq-accordion-2" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                How Can I Pay?
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-30">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                What Is Process To Get Expert Team?
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-30">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                How Does About Online Services?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-30">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseFour">
                                                How Can I Migrate To Another Site?
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-30">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                aria-expanded="false" aria-controls="collapseFive">
                                                How Can I Migrate To Another Site?
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-30">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                aria-expanded="false" aria-controls="collapseSix">
                                                How Does About Online Services?
                                            </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-30">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                aria-expanded="false" aria-controls="collapseSeven">
                                                Can I Develop My Website Without Code?
                                            </button>
                                        </h2>
                                        <div id="collapseSeven" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-30">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                aria-expanded="false" aria-controls="collapseEight">
                                                How Many Sites I Can Create At Once?
                                            </button>
                                        </h2>
                                        <div id="collapseEight" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Objectively redefine out-of-the-box technologies for multimedia based
                                                networks.
                                                Proactively the architect economically sound synergy with progressive
                                                value.
                                                Authoritatively engage out-of-is the box users for interoperable core
                                                competencies. Appropriately pontificate B2B strategic theme of time
                                                areas
                                                rather
                                                than professional metrics. Monotonectally.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-50">
                        <div class="col-xl-12 text-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="theme-btn">
                                <a href="#">Add Questions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQ end -->

            <!-- Subscribe start -->
            <div class="subscribe-section bg-white pb-md-80 pb-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="subscribe-wrapper" data-aos="fade-up" data-aos-delay="200">
                                <div class="row align-items-center">
                                    <div class="col-xl-7 col-lg-6">
                                        <div class="subscribe-title text-lg-start text-center">
                                            <h3>Subscribe To Our Newsletter</h3>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-6 mt-md-30 mt-xs-30">
                                        <div class="subscribe-form text-lg-start text-center">
                                            <form action="#">
                                                <div class="input-wrap">
                                                    <input type="email" placeholder="Enter Your Mail">
                                                    <button type="submit">Subscribe</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Subscribe end -->
        </main>



{% endblock %}