{% extends "base.html"%}
{% load static %}

{% block content %} 

        <!-- off-canvas start -->
        <div class="off-canvas-section">
            <div class="off-canvas-wrap">
                <div class="off-canvas-head mb-30">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'assets/img/logo/logo.svg' %}" alt="logo">
                        </a>
                    </div>
                    <div class="off-canvas-close"><i class="fa-regular fa-xmark"></i></div>
                </div>
                <div class="off-canvas-menu mb-30">
                    <ul>
                        <li class="has-dropdown">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About</a></li>
                        <li class="has-dropdown">
                            <a href="index.html">Course</a>
                            <ul class="sub-menu">
                                <li><a href="course-list.html">Course List</a></li>
                                <li><a href="course-grid.html">Course Grid</a></li>
                                <li><a href="course-details.html">Course Details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="instructors.html">Instructors</a></li>
                                <li><a href="instructors-details.html">Instructors Details</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Shop <span></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="product.html">Product</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Signup</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="error.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="index.html">Blogs</a>
                            <ul class="sub-menu">
                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- offset-sidebar start -->
                <hr>
                <div class="offset-sidebar">
                    <!-- <div class="mobile-menu"></div> -->
                    <div class="offset-widget mb-40">
                        <div class="info-widget">
                            <h4 class="offset-title mb-20">About Us</h4>
                            <p class="mb-30">
                                But I must explain to you how all this mistaken idea of denouncing pleasure and
                                praising pain was born and will give you a complete account of the system and
                                expound the actual teachings of the great explore
                            </p>
                        </div>
                    </div>
                    <div class="offset-widget mb-30 pr-10">
                        <div class="info-widget info-widget2">
                            <h4 class="offset-title mb-20">Contact Info</h4>
                            <p>
                                <i class="fal fa-address-book"></i>
                                23/A, Miranda City Likaoli Prikano, Dope</p>
                            <p>
                                <i class="fal fa-phone"></i>
                                +0989 7876 9865 9
                            </p>
                            <p>
                                <i class="fal fa-envelope-open"></i>
                                info@example.com
                            </p>
                        </div>
                    </div>
                </div>
                <!-- offset-sidebar end -->
                <div class="header-buttons d-flex justify-content-center mt-20">
                    <a href="login.html">
                        <img src="{% static 'assets/img/icon/user.svg' %}" alt="icon">
                    </a>
                    <a href="cart.html">
                        <img src="{% static 'assets/img/icon/cart.svg' %}" alt="icon">
                    </a>
                </div>
            </div>
            <div class="off-canvas-overlay"></div>
        </div>
        <!-- off-canvas end -->

        <main>
            <!-- Breadcrumb start -->
            <div class="breadcrumb-section pt-190 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50"
                style="background-image: url({% static 'assets/img/page-title/page-title-bg.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title-content text-lg-start text-center">
                                <h2 class="title">Course Grid</h2>
                                <div class="breadcrumb-menu">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="#">Pages</a></li>
                                        <li><a href="course-grid.html"> Course Grid</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb end -->

            <!-- Categories start -->
            <div class="categories-section pt-150 pb-120 pt-lg-120 pb-lg-90 pt-md-80 pb-md-50 pt-xs-50 pb-xs-20">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-title text-center mb-50">
                                <div class="sub-title mb-10" data-aos="fade-up" data-aos-delay="150">
                                    <p>Top Categories</p>
                                </div>
                                <div class="title" data-aos="fade-up" data-aos-delay="200">
                                    <h2>Explore Our Courses</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center">
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="150">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/bag.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Account & Business</h4>
                                    <p>263+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/document.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Certificat Course</h4>
                                    <p>350+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="250">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/camera.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Photography</h4>
                                    <p>250+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/volume-up.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Audio Book</h4>
                                    <p>260+ Course Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="course-category-wrap" data-aos="fade-up" data-aos-delay="350">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/category.svg' %}" alt="icon">
                                </div>
                                <div class="content">
                                    <h4>Management</h4>
                                    <p>300+ Course Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categories end -->

            <!-- Course start -->
            <div class="course-section pt-150 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-title text-center mb-50">
                                <div class="sub-title" data-aos="fade-up" data-aos-delay="150">
                                    <p>Course</p>
                                </div>
                                <div class="title" data-aos="fade-up" data-aos-delay="200">
                                    <h2>Most Popular Courses</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row c-row-40">
                        <div class="col-lg-4 col-md-6">
                            <div class="course-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="course-img">
                                    <img src="{% static 'assets/img/course/course-thumb-13.jpg' %}" alt="course">
                                </div>
                                <div class="category">
                                    <a href="#">Language</a>
                                    <a href="#">English</a>
                                </div>
                                <div class="course-title">
                                    <h3>
                                        <a href="course-details.html">
                                            Beginner Diploma In Basic English Grammar - Better Search Rang!
                                        </a>
                                    </h3>
                                </div>
                                <div class="meta">
                                    <span>
                                        <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                        10 Lesson
                                    </span>
                                    <span>
                                        <img src="{% static 'assets/img/icon/comment.svg' %}" alt="icon">
                                        139
                                    </span>
                                </div>
                                <div class="info-bottom">
                                    <div class="ratting-wrap">
                                        <span>6.7</span>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span>(125)</span>
                                    </div>
                                    <div class="price">
                                        <p>$19.99</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="course-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="course-img">
                                    <img src="{% static 'assets/img/course/course-thumb-14.jpg' %}" alt="course">
                                </div>
                                <div class="category">
                                    <a href="#">SEO</a>
                                    <a href="#">Data</a>
                                </div>
                                <div class="course-title">
                                    <h3>
                                        <a href="course-details.html">
                                            Visual Thinking: Drawing Data to communication of 2022
                                        </a>
                                    </h3>
                                </div>
                                <div class="meta">
                                    <span>
                                        <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                        10 Lesson
                                    </span>
                                    <span>
                                        <img src="{% static 'assets/img/icon/comment.svg' %}" alt="icon">
                                        139
                                    </span>
                                </div>
                                <div class="info-bottom">
                                    <div class="ratting-wrap">
                                        <span>6.7</span>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span>(125)</span>
                                    </div>
                                    <div class="price">
                                        <p>Free</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="course-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="course-img">
                                    <img src="{% static 'assets/img/course/course-thumb-15.jpg' %}" alt="course">
                                </div>
                                <div class="category">
                                    <a href="#">Intermediate</a>
                                    <a href="#">Expert</a>
                                </div>
                                <div class="course-title">
                                    <h3>
                                        <a href="course-details.html">
                                            The Challenge Of Global Learning Public Education.
                                        </a>
                                    </h3>
                                </div>
                                <div class="meta">
                                    <span>
                                        <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                        10 Lesson
                                    </span>
                                    <span>
                                        <img src="{% static 'assets/img/icon/comment.svg' %}" alt="icon">
                                        139
                                    </span>
                                </div>
                                <div class="info-bottom">
                                    <div class="ratting-wrap">
                                        <span>6.7</span>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span>(125)</span>
                                    </div>
                                    <div class="price">
                                        <p>$29.99</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="course-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="course-img">
                                    <img src="{% static 'assets/img/course/course-thumb-16.jpg' %}" alt="course">
                                </div>
                                <div class="category">
                                    <a href="#">Internet</a>
                                    <a href="#">Merketing</a>
                                </div>
                                <div class="course-title">
                                    <h3>
                                        <a href="course-details.html">
                                            The Most Complete Design Thinkin Course On The Market
                                        </a>
                                    </h3>
                                </div>
                                <div class="meta">
                                    <span>
                                        <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                        10 Lesson
                                    </span>
                                    <span>
                                        <img src="{% static 'assets/img/icon/comment.svg' %}" alt="icon">
                                        139
                                    </span>
                                </div>
                                <div class="info-bottom">
                                    <div class="ratting-wrap">
                                        <span>6.7</span>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span>(125)</span>
                                    </div>
                                    <div class="price">
                                        <p>Free</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="course-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="course-img">
                                    <img src="{% static 'assets/img/course/course-thumb-17.jpg' %}" alt="course">
                                </div>
                                <div class="category">
                                    <a href="#">Webflow</a>
                                    <a href="#">UX/UI</a>
                                </div>
                                <div class="course-title">
                                    <h3>
                                        <a href="course-details.html">
                                            Completed Landing Page Design &amp; Conversion Rate 2022
                                        </a>
                                    </h3>
                                </div>
                                <div class="meta">
                                    <span>
                                        <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                        10 Lesson
                                    </span>
                                    <span>
                                        <img src="{% static 'assets/img/icon/comment.svg' %}" alt="icon">
                                        139
                                    </span>
                                </div>
                                <div class="info-bottom">
                                    <div class="ratting-wrap">
                                        <span>6.7</span>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span>(125)</span>
                                    </div>
                                    <div class="price">
                                        <p>$19.99</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="course-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="course-img">
                                    <img src="{% static 'assets/img/course/course-thumb-18.jpg' %}" alt="course">
                                </div>
                                <div class="category">
                                    <a href="#">Design</a>
                                    <a href="#">Development</a>
                                </div>
                                <div class="course-title">
                                    <h3>
                                        <a href="course-details.html">
                                            Completed Landing Page Design &amp; Conversion Rate 2022
                                        </a>
                                    </h3>
                                </div>
                                <div class="meta">
                                    <span>
                                        <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                        10 Lesson
                                    </span>
                                    <span>
                                        <img src="{% static 'assets/img/icon/comment.svg' %}" alt="icon">
                                        139
                                    </span>
                                </div>
                                <div class="info-bottom">
                                    <div class="ratting-wrap">
                                        <span>6.7</span>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span>(125)</span>
                                    </div>
                                    <div class="price">
                                        <p>$19.99</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt-10">
                        <div class="col-xl-12">
                            <div class="theme-btn" data-aos="fade-up" data-aos-delay="200">
                                <a href="#">Browse All Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Course end -->

            <!-- Subscribe start -->
            <div class="subscribe-section bg-white pb-md-80 pb-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="subscribe-wrapper" data-aos="fade-up" data-aos-delay="200">
                                <div class="row align-items-center">
                                    <div class="col-xl-7 col-lg-6">
                                        <div class="subscribe-title text-lg-start text-center">
                                            <h3>Subscribe To Our Newsletter</h3>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-6 mt-md-30 mt-xs-30">
                                        <div class="subscribe-form text-lg-start text-center">
                                            <form action="#">
                                                <div class="input-wrap">
                                                    <input type="email" placeholder="Enter Your Mail">
                                                    <button type="submit">Subscribe</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Subscribe end -->
        </main>

{% endblock %}