{% extends "base.html"%}
{% load static %}

{% block content %}

        <!-- off-canvas start -->
        <div class="off-canvas-section">
            <div class="off-canvas-wrap">
                <div class="off-canvas-head mb-30">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'assets/img/logo/logo.svg' %}" alt="logo">
                        </a>
                    </div>
                    <div class="off-canvas-close"><i class="fa-regular fa-xmark"></i></div>
                </div>
                <div class="off-canvas-menu mb-30">
                    <ul>
                        <li class="has-dropdown">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About</a></li>
                        <li class="has-dropdown">
                            <a href="index.html">Course</a>
                            <ul class="sub-menu">
                                <li><a href="course-list.html">Course List</a></li>
                                <li><a href="course-grid.html">Course Grid</a></li>
                                <li><a href="course-details.html">Course Details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="instructors.html">Instructors</a></li>
                                <li><a href="instructors-details.html">Instructors Details</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Shop <span></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="product.html">Product</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Signup</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="error.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="index.html">Blogs</a>
                            <ul class="sub-menu">
                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- offset-sidebar start -->
                <hr>
                <div class="offset-sidebar">
                    <!-- <div class="mobile-menu"></div> -->
                    <div class="offset-widget mb-40">
                        <div class="info-widget">
                            <h4 class="offset-title mb-20">About Us</h4>
                            <p class="mb-30">
                                But I must explain to you how all this mistaken idea of denouncing pleasure and
                                praising pain was born and will give you a complete account of the system and
                                expound the actual teachings of the great explore
                            </p>
                        </div>
                    </div>
                    <div class="offset-widget mb-30 pr-10">
                        <div class="info-widget info-widget2">
                            <h4 class="offset-title mb-20">Contact Info</h4>
                            <p>
                                <i class="fal fa-address-book"></i>
                                23/A, Miranda City Likaoli Prikano, Dope</p>
                            <p>
                                <i class="fal fa-phone"></i>
                                +0989 7876 9865 9
                            </p>
                            <p>
                                <i class="fal fa-envelope-open"></i>
                                info@example.com
                            </p>
                        </div>
                    </div>
                </div>
                <!-- offset-sidebar end -->
                <div class="header-buttons d-flex justify-content-center mt-20">
                    <a href="login.html">
                        <img src="{% static 'assets/img/icon/user.svg' %}" alt="icon">
                    </a>
                    <a href="cart.html">
                        <img src="{% static 'assets/img/icon/cart.svg' %}" alt="icon">
                    </a>
                </div>
            </div>
            <div class="off-canvas-overlay"></div>
        </div>
        <!-- off-canvas end -->

        <main>
            <!-- Breadcrumb start -->
            <div class="breadcrumb-section pt-190 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50"
                style="background-image: url({% static 'assets/img/page-title/page-title-bg.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title-content text-lg-start text-center">
                                <h2 class="title">Instructors</h2>
                                <div class="breadcrumb-menu">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="#">Pages</a></li>
                                        <li><a href="instructors.html">Instructors</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb end -->

            <!-- instructors start -->
            <div class="instructors-section pt-150 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50">
                <div class="container">
                    <div class="row mb-50 text-center">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="sub-title mb-10" data-aos="fade-up" data-aos-delay="150">
                                    <p>Instructor</p>
                                </div>
                                <div class="title" data-aos="fade-up" data-aos-delay="200">
                                    <h2>Our Professional Instructor</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-1.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">SEO Manager</p>
                                    <h3 class="title"><a href="instructors-details.html">Rovert Smith</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-2.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">Web Developer</p>
                                    <h3 class="title"><a href="instructors-details.html">Milier Hard</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-3.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">UI/UX Designer</p>
                                    <h3 class="title"><a href="instructors-details.html">Jaceka Jon</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-4.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">SEO Manager</p>
                                    <h3 class="title"><a href="instructors-details.html">Hardson Khan</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-5.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">SEO Manager</p>
                                    <h3 class="title"><a href="instructors-details.html">Rovert Smith</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-6.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">Web Developer</p>
                                    <h3 class="title"><a href="instructors-details.html">Milier Hard</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-7.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">SEO Manager</p>
                                    <h3 class="title"><a href="instructors-details.html">Hardson Khan</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="instructor-wrap-2" data-aos="fade-up" data-aos-delay="300">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/instructor/instructor-8.jpg' %}" alt="">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="sub-title">UI/UX Designer</p>
                                    <h3 class="title"><a href="instructors-details.html">Jaceka Jon</a></h3>
                                    <div class="meta-separator"></div>
                                    <div class="meta">
                                        <div class="meta-item">
                                            <i class="fa-light fa-memo"></i> 10 Lesson
                                        </div>
                                        <div class="meta-item">
                                            <i class="fa-light fa-users"></i> 64 Students
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-20 text-center">
                        <div class="col-xl-12">
                            <div class="theme-btn" data-aos="fade-up" data-aos-delay="200">
                                <a href="#">All instructor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- instructors end -->

            <!-- Subscribe start -->
            <div class="subscribe-section bg-white pb-md-80 pb-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="subscribe-wrapper" data-aos="fade-up" data-aos-delay="200">
                                <div class="row align-items-center">
                                    <div class="col-xl-7 col-lg-6">
                                        <div class="subscribe-title text-lg-start text-center">
                                            <h3>Subscribe To Our Newsletter</h3>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-6 mt-md-30 mt-xs-30">
                                        <div class="subscribe-form text-lg-start text-center">
                                            <form action="#">
                                                <div class="input-wrap">
                                                    <input type="email" placeholder="Enter Your Mail">
                                                    <button type="submit">Subscribe</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Subscribe end -->
        </main>

{% endblock %}