{% extends "base.html"%}
{% load static %}

{% block content %}

        <!-- off-canvas start -->
        <div class="off-canvas-section">
            <div class="off-canvas-wrap">
                <div class="off-canvas-head mb-30">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'assets/img/logo/logo.svg' %}" alt="logo">
                        </a>
                    </div>
                    <div class="off-canvas-close"><i class="fa-regular fa-xmark"></i></div>
                </div>
                <div class="off-canvas-menu mb-30">
                    <ul>
                        <li class="has-dropdown">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About</a></li>
                        <li class="has-dropdown">
                            <a href="index.html">Course</a>
                            <ul class="sub-menu">
                                <li><a href="course-list.html">Course List</a></li>
                                <li><a href="course-grid.html">Course Grid</a></li>
                                <li><a href="course-details.html">Course Details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="instructors.html">Instructors</a></li>
                                <li><a href="instructors-details.html">Instructors Details</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Shop <span></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="product.html">Product</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Signup</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="error.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="index.html">Blogs</a>
                            <ul class="sub-menu">
                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- offset-sidebar start -->
                <hr>
                <div class="offset-sidebar">
                    <!-- <div class="mobile-menu"></div> -->
                    <div class="offset-widget mb-40">
                        <div class="info-widget">
                            <h4 class="offset-title mb-20">About Us</h4>
                            <p class="mb-30">
                                But I must explain to you how all this mistaken idea of denouncing pleasure and
                                praising pain was born and will give you a complete account of the system and
                                expound the actual teachings of the great explore
                            </p>
                        </div>
                    </div>
                    <div class="offset-widget mb-30 pr-10">
                        <div class="info-widget info-widget2">
                            <h4 class="offset-title mb-20">Contact Info</h4>
                            <p>
                                <i class="fal fa-address-book"></i>
                                23/A, Miranda City Likaoli Prikano, Dope</p>
                            <p>
                                <i class="fal fa-phone"></i>
                                +0989 7876 9865 9
                            </p>
                            <p>
                                <i class="fal fa-envelope-open"></i>
                                info@example.com
                            </p>
                        </div>
                    </div>
                </div>
                <!-- offset-sidebar end -->
                <div class="header-buttons d-flex justify-content-center mt-20">
                    <a href="login.html">
                        <img src="{% static 'assets/img/icon/user.svg' %}" alt="icon">
                    </a>
                    <a href="cart.html">
                        <img src="{% static 'assets/img/icon/cart.svg' %}" alt="icon">
                    </a>
                </div>
            </div>
            <div class="off-canvas-overlay"></div>
        </div>
        <!-- off-canvas end -->

        <main>
            <!-- Breadcrumb start -->
            <div class="breadcrumb-section pt-190 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50"
                style="background-image: url({% static 'assets/img/page-title/page-title-bg.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title-content">
                                <h2 class="title">Instructor Details</h2>
                                <div class="breadcrumb-menu">
                                    <ul>
                                        <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                        </li>
                                        <li>
                                            <a href="instructors-details.html">Instructor Details</a>
                                        </li>
                                        <li>
                                            <a href="error.html">Error</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb end -->

            <!-- Instructor Details start -->
            <div
                class="instructor-details-section pt-150 pb-150 pt-lg-120 pb-lg-120 pt-md-80 pb-md-80 pt-xs-50 pb-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="instructor-details-thumb-wrap">
                                <div class="instructor-details-thumb">
                                    <img class="w-100" src="{% static 'assets/img/instructor/instructor-9.jpg' %}" alt="thumb">
                                </div>
                                <h3 class="thumb-name mb-20">Lily Smith</h3>
                                <span>Allrounder Teacher</span>
                            </div>
                            <div class="experiences-skills-wrap">
                                <h4 class="experiences-skills-title">Experiences & Skills</h4>
                                <div class="experiences-skills-text">
                                    <p>We are best & modern creative online education services</p>
                                </div>
                            </div>
                            <div class="meta-info-wrap">
                                <div class="meta-info">
                                    <div class="meta-info-title">Phone</div>
                                    <div class="meta-info-desc">
                                        <a href="#">
                                            <i class="fa-regular fa-phone-plus"></i>
                                            (208) 555-0112
                                        </a>
                                    </div>
                                </div>
                                <div class="meta-info">
                                    <div class="meta-info-title">Location</div>
                                    <div class="meta-info-desc">
                                        <a href="#">
                                            <i class="fa-sharp fa-solid fa-location-plus"></i>
                                            6391 Elgin St. Celina, Delaware 10299
                                        </a>
                                    </div>
                                </div>
                                <div class="meta-info">
                                    <div class="meta-info-title">Email</div>
                                    <div class="meta-info-desc">
                                        <a href="#">
                                            <i class="fa-light fa-envelope"></i>
                                            kenzi.lawson@example.com
                                        </a>
                                    </div>
                                </div>
                                <div class="meta-info">
                                    <div class="meta-info-title">Experiences</div>
                                    <div class="meta-info-desc">
                                        <a href="#">
                                            <i class="fa-regular fa-phone-plus"></i>
                                            12+ Years Experiences
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget-wrap pt-30">
                                <h4 class="widget-title">Share This Course</h4>
                                <div class="widget-social-icon">
                                    <a href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="instructor-details-content mb-50">
                                <div class="course-decription-wrap">
                                    <div class="course-decription-title">
                                        <h3 class="mb-0">Biography</h3>
                                        <div class="bar mb-10"></div>
                                    </div>
                                    <div class="course-decription-text mb-30">
                                        <p>There are many variations of passages of Lorem Ipsum available, but majority
                                            have suffered alteration in some form, by injected humour, or randomised
                                            words
                                            which don't look even slightly believable. If you are going to use a passage
                                            of
                                            Lorem Ipsum, you need to be sure there isn't anything embarrassing your
                                            hidden
                                            in the middle.</p>
                                    </div>
                                </div>
                                <div class="row mb-15 mt-20">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="counter-style-two text-center text-md-start mb-30">
                                            <div class="content">
                                                <div
                                                    class="count-inner justify-content-center justify-content-md-start">
                                                    <div class="number">
                                                        <h3 class="odometer" data-count="196">00</h3>
                                                    </div>
                                                    <span class="sp-letter">k</span>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="text">
                                                    <p>HappyStudent</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="counter-style-two text-center text-md-start mb-30">
                                            <div class="content">
                                                <div
                                                    class="count-inner justify-content-center justify-content-md-start">
                                                    <div class="number">
                                                        <h3 class="odometer" data-count="29">00</h3>
                                                    </div>
                                                    <span class="sp-letter">+</span>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="text">
                                                    <p>Professional Skills</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="counter-style-two text-center text-md-start mb-30">
                                            <div class="content">
                                                <div
                                                    class="count-inner justify-content-center justify-content-md-start">
                                                    <div class="number">
                                                        <h3 class="odometer" data-count="35">00</h3>
                                                    </div>
                                                    <span class="sp-letter">K+</span>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="text">
                                                    <p>Beautiful Review</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-wrapper-section">
                                    <div class="skill-wrapper mb-30">
                                        <div class="skill-title mb-15">
                                            <h5 class="skill-category">UI/UX Design
                                                <span class="float-end">80%</span>
                                            </h5>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                                aria-valuemin="90" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="skill-wrapper mb-30">
                                        <div class="skill-title mb-15">
                                            <h5 class="skill-category">SEO Manager
                                                <span class="float-end">90%</span>
                                            </h5>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-2" role="progressbar"
                                                aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="skill-wrapper mb-30">
                                        <div class="skill-title mb-15">
                                            <h5 class="skill-category">Art &design
                                                <span class="float-end">85%</span>
                                            </h5>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-3" role="progressbar"
                                                aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="skill-wrapper">
                                        <div class="skill-title mb-15">
                                            <h5 class="skill-category">Language
                                                <span class="float-end">85%</span>
                                            </h5>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-4" role="progressbar"
                                                aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="instructor-details-course">
                                <div class="row c-row-40">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="course-wrap">
                                            <div class="course-img">
                                                <img src="{% static 'assets/img/course/course-thumb-6.jpg' %}" alt="thumb">
                                            </div>
                                            <div class="category">
                                                <a href="#">Language</a>
                                                <a href="#">English</a>
                                            </div>
                                            <div class="course-title">
                                                <h3>
                                                    <a href="course-details.html">
                                                        Beginner Diploma In Basic English Grammar - Better Search Rang!
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="meta">
                                                <span>
                                                    <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                                    10 Lesson
                                                </span>
                                                <span>
                                                    <img src="{% static 'assets/img/icon/3-user.svg' %}" alt="icon">
                                                    139
                                                </span>
                                            </div>
                                            <div class="info-bottom">
                                                <div class="ratting-wrap">
                                                    <span>6.7</span>
                                                    <div class="rating">
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                    <span>(125)</span>
                                                </div>
                                                <div class="price">
                                                    <p>$19.99</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="course-wrap">
                                            <div class="course-img">
                                                <img src="{% static 'assets/img/course/course-thumb-2.jpg' %}" alt="thumb">
                                            </div>
                                            <div class="category">
                                                <a href="#">SEO</a>
                                                <a href="#">Data</a>
                                            </div>
                                            <div class="course-title">
                                                <h3>
                                                    <a href="course-details.html">
                                                        Visual Thinking: Drawing Data to communication of 2022
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="meta">
                                                <span>
                                                    <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                                    10 Lesson
                                                </span>
                                                <span>
                                                    <img src="{% static 'assets/img/icon/3-user.svg' %}" alt="icon">
                                                    139
                                                </span>
                                            </div>
                                            <div class="info-bottom">
                                                <div class="ratting-wrap">
                                                    <span>6.7</span>
                                                    <div class="rating">
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                    <span>(125)</span>
                                                </div>
                                                <div class="price">
                                                    <p>Free</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="course-wrap">
                                            <div class="course-img">
                                                <img src="{% static 'assets/img/course/course-thumb-3.jpg' %}" alt="thumb">
                                            </div>
                                            <div class="category">
                                                <a href="#">Intermediate</a>
                                                <a href="#">Expert</a>
                                            </div>
                                            <div class="course-title">
                                                <h3>
                                                    <a href="course-details.html">
                                                        The Challenge Of Global Learning Public Education.
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="meta">
                                                <span>
                                                    <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                                    10 Lesson
                                                </span>
                                                <span>
                                                    <img src="{% static 'assets/img/icon/3-user.svg' %}" alt="icon">
                                                    139
                                                </span>
                                            </div>
                                            <div class="info-bottom">
                                                <div class="ratting-wrap">
                                                    <span>6.7</span>
                                                    <div class="rating">
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                    <span>(125)</span>
                                                </div>
                                                <div class="price">
                                                    <p>$29.99</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <div class="course-wrap">
                                            <div class="course-img">
                                                <img src="{% static 'assets/img/course/course-thumb-4.jpg' %}" alt="thumb">
                                            </div>
                                            <div class="category">
                                                <a href="#">Internet</a>
                                                <a href="#">Merketing</a>
                                            </div>
                                            <div class="course-title">
                                                <h3>
                                                    <a href="course-details.html">
                                                        The Most Complete Design Thinkin Course On The Market
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="meta">
                                                <span>
                                                    <img src="{% static 'assets/img/icon/document-g2.svg' %}" alt="icon">
                                                    10 Lesson
                                                </span>
                                                <span>
                                                    <img src="{% static 'assets/img/icon/3-user.svg' %}" alt="icon">
                                                    139
                                                </span>
                                            </div>
                                            <div class="info-bottom">
                                                <div class="ratting-wrap">
                                                    <span>6.7</span>
                                                    <div class="rating">
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star active"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                    <span>(125)</span>
                                                </div>
                                                <div class="price">
                                                    <p>Free</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-50">
                                <div class="col-xl-12">
                                    <div class="page-pagination justify-content-start">
                                        <a href="#">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                        <a href="#" class="active">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Instructor Details end -->

            <!-- Subscribe start -->
            <div class="subscribe-section bg-white pb-md-80 pb-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="subscribe-wrapper" data-aos="fade-up" data-aos-delay="200">
                                <div class="row align-items-center">
                                    <div class="col-xl-7 col-lg-6">
                                        <div class="subscribe-title text-lg-start text-center">
                                            <h3>Subscribe To Our Newsletter</h3>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-6 mt-md-30 mt-xs-30">
                                        <div class="subscribe-form text-lg-start text-center">
                                            <form action="#">
                                                <div class="input-wrap">
                                                    <input type="email" placeholder="Enter Your Mail">
                                                    <button type="submit">Subscribe</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Subscribe end -->
        </main>

{% endblock %}